thead th{
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
}

tbody button{
    margin-right: 10px;
}

tbody p{
    font-size: 14px;
}

@media only screen and (max-width: 800px){
    tbody button{
        margin-right: 0;
        margin-bottom: 5px;
    }
}